/* BODY*/
header, main, body{
    max-width: 1400px;
    margin: auto; /*centers on page*/
}

body {
    background-color: #f4f7f9;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 300;
    color: #333
}


/* ITALICIZE COLOR*/
i{
    color: #2563eb;

}
   

/* HEADER */
header{
    color: #1e3a5f;
    text-align: center;
    font-size: 22px;
}


/* FOOTER */

.return{
    margin-top: 3em;
    text-align: center;
    
}

.return a{
    padding: .9em;
    background-color: #1e3a5f;
    border-radius: 12px;
    font-size: 1.20em;
    color: #ffffff;
}

footer{
    text-align: center;
    font-size: 18px;
    
}

small{
    display: block;
    margin-top: 3em;
}
